# Mac
*.DS_Store
# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
PrYv-UX-PoC/Pods/*
PrYv-UX-PoC/Podfile.lock
PrYv-UX-PoC/build/*
PrYv-UX-PoC/NotesApp/Constants/AppConstantsPrivate.m

